.edit-group {
    padding: 1rem;
    border-radius: 2rem;
    margin-top: 3rem;
    background-color: $color-white;
    color: $color-dark-blue-text;

    button {
        margin-bottom: 2rem;
    }
}