.group-select {
    padding: 0.25rem 1rem;
    border: 1px solid $color-dark-blue-text;
    border-radius: 10rem;
    margin-bottom: 1rem;
    background-color: transparent;
    color: $color-dark-blue-text;
}