.subtasks{
    padding: 0;

    .subtasks__span {
        display: block;
        color: $color-blue-faded;
        font-size: 0.85rem;
        font-style: italic;
        margin-bottom: 0.5rem;
    }

    li {
        list-style: none;
        margin-bottom: 0.75rem;
        font-weight: 700;

        .checkbox {
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            line-height: 1.1;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            cursor: text;
        }
        
        .checkbox + .checkbox {
            margin-top: 1em;
        }
        
        input[type="checkbox"] {
            -webkit-appearance: none;
            appearance: none;
            background-color: $color-sand;
            margin: 0;
            margin-right: 0.5rem;
            font: inherit;
            color: $color-blue-faded;
            width: 1.15em;
            height: 1.15em;
            border: 0.15em solid $color-blue-faded;
            border-radius: 0.15em;
            transform: translateY(-0.075em);
            display: grid;
            place-content: center;
            cursor: pointer;
        }
        
        input[type="checkbox"]::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
            transform: scale(0);
            transform-origin: bottom left;
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em $color-blue-faded;
        }
        
        input[type="checkbox"]:checked::before {
            transform: scale(1);
        }
        
        input[type="checkbox"]:focus {
            background-color: $color-white;
        }

        .remove-subtask {
            display: inline-block;
            border: none;
            margin-left: 0.25rem;
            background-color: transparent;
            color: $color-blue-faded;
            font-size: 0.75rem;
            font-style: italic;
            font-weight: 400;
            cursor: pointer;
        }
    }
}

