.tasks {

    .no-tasks {
        @include no-list;
    }

    .tasks-list {
        padding: 0;
        color: $color-dark-blue-text;
    }

    .tasks-list__btn-container {
        display: flex;
        gap: 0.5rem;
        margin-left: 1rem;
        margin-bottom: 0.5rem;
        
        button {
            padding: 0.2rem 0.5rem;
            border: 1px solid $color-white;
            border-radius: 10rem;
            background-color: transparent;
            color: $color-white;
            cursor: pointer;
        }

        .tasks-list__btn-active {
            border: 1px solid $color-white;
            background-color: $color-white;
            color: $color-dark-blue-text;
            font-weight: 500;
        }
    }
}