.group-title-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;

    img {
        width: 2rem;
        -webkit-filter: $color-blue-filter;
                filter: $color-blue-filter;
        opacity: 0.7;
    }

    input {
        @include input;
        @include title-input;
    }
}